t.prefs_.set('color-palette-overrides',["#383a42","#e45649","#50a14f","#c18401","#4078f2","#a626a4","#0184bc","#a0a1a7","#696c77","#e45649","#50a14f","#c18401","#4078f2","#a626a4","#0184bc","#fafafa"]);
t.prefs_.set('foreground-color', "#383a42");
t.prefs_.set('background-color', "#fafafa");
t.prefs_.set('cursor-color', "#526eff");
